.CalenderContainer {
    width: 100%;
}

.CalenderContent {
    width: 90%;
    margin: 0 5% 0 5%;
}

.dayslist {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 5;
}

.days {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bolder;
}

.datelist {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    user-select: none;
    margin-top: 10px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.pastdate {
    background-color: #adb7be;
    pointer-events: none;
}

.date.empty {
  border: none;
  background-color: transparent;
  cursor: default;
}
.date.selected{
    background-color: green;
}
